<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Web test suite" verbose="1">
    <test name="Smoke Tests">
        <classes>
            <class name="lecture14.examples.data.driven.AdditionTests"></class>
        </classes>
    </test>
    <test name="Regression Tests">
        <classes>
            <class name="lecture14.examples.before.APITests"></class>
            <class name="lecture14.examples.before.DatabaseTests"></class>
        </classes>
    </test>
</suite>
